@import "vendor/bootstrap-4.0/bootstrap", "vendor/slick-carousel/slick", "vendor/slick-carousel/slick-theme",
  "vendor/OwlCarousel2-2.2.1/owl.carousel", "vendor/OwlCarousel2-2.2.1/owl.theme.default",
  "vendor/font-awesome-4.7.0/font-awesome";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/footer", "layout/header";

@import "pages/registrars", "pages/about-us", "pages/news";

@import "components/ui-elements";
body {
  font-family: $font-primary-en;
  color: $black-color;
}

h1,
h2,
h3 {
  font-family: $font-primary-en;
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

main {
  @include padding(160px, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(105px, 0, 0, 0);
  }
  @include breakpoint(md) {
    @include padding(105px, 0, 0, 0);
  }
}
section {
  @include margin(0, 0, 110px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.inner-padding {
  @include padding(110px, 0, 110px, 0);
  @include breakpoint(sm) {
    @include padding(50px, 0, 50px, 0);
  }
}

.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}

.card {
  @include border-radius(0);
  border: 0;
}

.lock-scroll {
  overflow: hidden;
  overflow-y: hidden;
}

/* owl dots */
.owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  .owl-dot {
    span {
      background: none !important;
      border: 1px solid $brand-color !important;
    }
  }
  .owl-dot.active {
    span {
      background: $brand-color !important;
      border: 0 !important;
      position: relative;
    }
  }
}

/* main search */
.main-search {
  background: url(../images/search-bg.jpg) no-repeat top center;
  background-size: cover;
  @include padding(300px, 0, 300px, 0);
  width: 100%;
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    @include padding(150px, 0, 150px, 0);
  }
  @include breakpoint(md) {
    @include padding(310px, 0, 310px, 0);
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: rgba($black-color, 0.3);
  }
  &__body {
    z-index: 99;
    position: relative;

    .form-control {
      @include border-radius(10px 0 0 10px);
      font-size: 35px;
      height: 95px;
      @include padding(0, 0, 0, 30px);

      @include breakpoint(sm) {
        @include border-radius(10px 10px 10px 10px);
        @include margin(0, 0, 20px, 0);
      }
    }
    .button-epic-red-large {
      text-align: left;
      @include border-radius(0 10px 10px 0);
      height: 95px;
      font-family: $font-primary-en;

      @include breakpoint(sm) {
        @include border-radius(10px 10px 10px 10px);
      }
    }
  }
  &__title {
    color: $white-color;
    font-size: 70px;
    text-align: center;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      font-size: 45px;
    }
  }
  #search-dropdown {
    background: $white-color;
    @include padding(50px, 50px, 100px, 50px);
    @include border-radius(0 0 10px 10px);
    position: absolute;
    @include shadow;

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
      @include border-radius(10px 10px 10px 10px);
      top: 96px;
      z-index: 9;
      box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
    }

    &.show {
      transform: none;
      .search-overlay {
        height: 100%;
        opacity: 0.9;

        @include breakpoint(sm) {
          height: 100%;
          opacity: 0;
        }
      }
    }

    .search-overlay {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      background: $black-color;
      @include transition(all 0.5s ease);
    }

    .dropdown-body {
      .main-title {
        font-family: $font-secondary-en;
        color: $brand-second-color;
        font-size: 25px;
        @include margin(0, 0, 30px, 0);
        text-align: center;
      }
      .domain-unavailable {
        color: $brand-color;
      }

      .description {
        color: $light-grey-color;
        font-style: italic;
        font-size: 15px;
        @include margin(0, 0, 40px, 0);
        @include padding(0, 50px, 0, 50px);
        text-align: center;

        @include breakpoint(sm) {
          @include padding(0, 0, 0, 0);
        }
      }

      .nav-tabs {
        border-bottom: 0;
        @include margin(0, 0, 60px, 0);

        .nav-link {
          border: 0;
          color: $black-color;
          font-size: 18px;
          @include border-radius(0);
          @include padding(0, 50px, 0, 50px);

          &:hover {
            color: $brand-color;
          }
          &.active {
            color: $brand-color;
          }
        }
      }

      .domain-lists {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @include breakpoint(sm) {
          flex-direction: column;
        }

        &__items {
          width: 25%;
          @include margin(0, 20px, 35px, 20px);
          position: relative;

          @include breakpoint(sm) {
            width: 100%;
            @include margin(0, 0, 20px, 0);
          }
          @include breakpoint(md) {
            width: 100%;
            @include margin(0, 0, 20px, 0);
          }
        }

        &__link {
          font-family: $font-secondary-en;
          color: $brand-second-color;
          text-align: center;
          display: block;
          font-size: 20px;
          @include border-radius(5px);
          background: $white-color;
          @include shadow;
          @include padding(10px, 20px, 10px, 20px);

          &:hover {
            @include card-hover-shadow;
            @include transform(translateY(-5px));
            /*  background: $light-grey-color; */
          }
        }

        .domain-info-btn {
          position: absolute;
          right: -10px;
          top: -10px;
          background: $white-color;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          font-size: 14px;
          color: $brand-second-color;
          @include border-radius(50%);
          border: 2px solid $light-grey-color;
        }

        &--selected {
          color: $white-color;
          background: $brand-color;

          p {
            font-size: 14px;
            font-family: $font-primary-en;
            @include margin(20px, 0, 0, 0);
          }
        }
        &--available-selected {
          color: $white-color;
          background: $brand-second-color;

          p {
            font-size: 14px;
            font-family: $font-primary-en;
            @include margin(20px, 0, 0, 0);
          }
        }
      }

      .button-epic-red {
        @include margin(0, 0, 40px, 0);
      }
      .sliding-underline-link {
        text-align: center;
        display: block;
        width: fit-content;
        margin: 0 auto;

        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
    }
  }
}

/* stats */
#stats {
  background-color: #f1f1f1;
  @include padding(30px, 0, 30px, 0);
  .counter-txt {
    text-align: center;
    @include margin(0, 0, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }

    .icons {
      display: block;
      background: url(../images/icons-sprite.png) no-repeat;
      margin: 0 auto 20px;
      background-size: 466px 158px;
    }
    .icon-01 {
      width: 46px;
      height: 45px;
      background-position: -14px -15px;
    }
    .icon-02 {
      width: 46px;
      height: 41px;
      background-position: -71px -15px;
    }
    .icon-03 {
      width: 46px;
      height: 36px;
      background-position: -131px -15px;
    }
  }
  .counter-value {
    font-size: 35px;
    font-family: $font-secondary-en;
  }
  h5 {
    font-size: 16px;
  }
}

/* main slider */
.hero-wrap {
  position: relative;
  width: 100%;
  @include margin(0, 0, 30px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
  }

  .slider-holder {
    position: relative;
    @include breakpoint(sm) {
      .desktop-img {
        display: none;
      }
    }
    .mobile-img {
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
    &__figure-holder {
      overflow: hidden;
      height: 600px;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        height: auto;
      }
      @include breakpoint(md) {
        height: auto;
      }
      img {
        width: 100%;
      }
    }
    &__caption {
      position: absolute;
      right: 100px;
      top: 150px;
      width: 30%;
      @include transform(rotate(-10deg));

      @include breakpoint(sm) {
        width: 80%;
        left: 40px;
        top: 400px;
      }
      @include breakpoint(md) {
        top: 50px;
      }
    }
    &__title {
      color: $white-color;
      font-size: 60px;
      font-family: $font-secondary-en;
      line-height: 1;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        font-size: 40px;
        @include margin(0, 0, 10px, 0);
      }

      @include breakpoint(md) {
        font-size: 40px;
        @include margin(0, 0, 10px, 0);
      }

      span {
        color: $brand-color;
      }
    }

    &__send-btn {
      background: url(../images/send-button@3x.png) no-repeat;
      width: 22px;
      height: 26px;
      display: block;
      background-size: 22px 26px;
    }

    &__play-icon {
      position: absolute;
      width: 118px;
      height: 118px;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 9;

      @include breakpoint(sm) {
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 70px;
        left: initial;
        top: initial;
      }

      i {
        color: rgba($white-color, 0.5);
        font-size: 135px;

        @include breakpoint(sm) {
          font-size: 55px;
        }
      }
    }
  }

  #main-slider {
    position: relative;
    overflow: hidden;

    .owl-nav {
      position: absolute;
      top: 45%;
      width: 100%;
      font-size: 0 !important;

      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
      .owl-prev {
        position: absolute;
        left: 0;
        background: none !important;
        opacity: 0;
        animation: fadeInLeft 0.8s ease forwards;
        animation-delay: 0.5s;
        font-size: 0;

        &:before {
          font-family: FontAwesome;
          content: "\f104";
          position: absolute;
          left: 50px;
          font-size: 65px;
          color: $white-color;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }

      .owl-next {
        position: absolute;
        background: none !important;
        right: 0;
        opacity: 0;
        animation: fadeInRight 0.8s ease forwards;
        animation-delay: 0.5s;
        font-size: 0;

        &:before {
          font-family: FontAwesome;
          content: "\f105";
          position: absolute;
          right: 50px;
          font-size: 65px;
          color: $white-color;
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }
    }
  }

  .owl-item.active .slider-holder__caption {
    animation: 1s 0.2s fadeIn both;
  }
  .owl-item.active .slider-holder__play-icon {
    animation: 1s 0.2s fadeIn both;
  }
}

/* news */
.news {
  .card {
    @include shadow;
    @include transition(all 0.5s ease);
    @include border-radius(0);
    min-height: 350px;
    position: relative;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    &__figure-holder {
      overflow: hidden;
      height: 150px;
      a {
        display: block;
      }
    }
    &__body {
      @include padding(15px, 15px, 15px, 15px);
    }
    &__title {
      color: $black-color;
      font-size: 20px;
      font-family: $font-secondary-en;
      display: block;
      @include margin(0, 0, 25px, 0);
    }
    &__footer {
      display: flex;
      position: absolute;
      bottom: 20px;
      width: calc(100% - 30px);
    }
    &__user {
      font-size: 14px;
      flex: 1 50%;
    }
    &__date {
      font-size: 14px;
      margin-left: auto;
      flex: 1 50%;
      text-align: right;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      .card__title {
        color: $brand-color;
      }
    }
  }
  .view-more-btn {
    @include shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-family: $font-secondary-en;
    color: $brand-color;
    font-size: 40px;
    text-align: center;
    @include padding(0, 30px, 0, 30px);
    line-height: 45px;
    position: relative;

    &::before {
      font-family: Fontawesome;
      content: "\f105";
      position: absolute;
      bottom: 20%;
      color: $white-color;
      font-size: 30px;
      left: -20px;
      border: 2px solid $white-color;
      @include border-radius(50%);
      height: 45px;
      width: 45px;
      text-align: center;
      line-height: 40px;
      @include transition(all 0.5s ease);
    }

    &:hover {
      color: $white-color;
      background: $brand-color;
      @include card-hover-shadow;
      @include transform(translateY(-5px));

      &:before {
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
  }
}

/* our values */
.our-values {
  .title-head {
    @include margin(0, 0, 80px, 0);
    text-align: center;
    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
    .title {
      font-family: $font-secondary-en;
      font-size: 45px;
      @include margin(0, 0, 70px, 0);
      color: $brand-second-color;

      @include breakpoint(sm) {
        font-size: 30px;
        @include margin(0, 0, 30px, 0);
      }
    }
    .sub-title {
      font-size: 30px;
      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
  }

  /* vertical tab   */
  .vertical-tabs {
    @include padding(0, 0, 0, 0);
    position: relative;
    .nav-link {
      @include margin(0, 0, 40px, 50px);
      @include padding(0, 0, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 40px, 0);
      }

      &__item {
        @include padding(20px, 20px, 20px, 110px);
        position: relative;

        @include breakpoint(sm) {
          @include padding(100px, 20px, 20px, 20px);

          text-align: center;
        }
        @include breakpoint(md) {
          @include padding(30px, 30px, 30px, 70px);
        }
      }
      &__title {
        font-size: 30px;
        font-family: $font-secondary-en;
        color: $black-color;
        @include margin(0, 0, 30px, 0);
      }
      &__content {
        font-size: 22px;
        color: $dark-grey-color-shade;
        @include margin(0, 0, 30px, 0);
      }
      &__icon {
        display: block;
        position: absolute;
        background: url(../images/icons-sprite.png) no-repeat;
        background-size: 466px 158px;
        left: 0;
        top: 20px;

        @include breakpoint(sm) {
          left: 50%;
          top: 0;
          @include transform(translateX(-50%));
        }
      }

      &--icon-01 {
        background-position: -189px -12px;
        width: 43px;
        height: 57px;
        margin-left: 20px;

        @include breakpoint(sm) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
      &--icon-02 {
        background-position: -237px -11px;
        width: 81px;
        height: 46px;
        @include breakpoint(sm) {
          margin-top: 20px;
        }
      }
      &--icon-03 {
        background-position: -322px -11px;
        width: 70px;
        height: 70px;
        margin-left: 5px;
        @include breakpoint(sm) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
      &--icon-04 {
        background-position: -403px -11px;
        width: 40px;
        height: 70px;
        margin-left: 20px;
        @include breakpoint(sm) {
          margin-left: 0;
          margin-top: 10px;
        }
      }

    
      &.active {
        background: $white-color;
        @include card-hover-shadow;
        @include transform(translateY(-5px));

        .nav-link__title {
          color: $brand-color !important;
        }
        .nav-link__content {
          color: $brand-color !important;
        }
      }
    }

    .figure-holder {
      @include margin(100px, 0, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 40px, 0);
      }
    }
  }
}

/* faqs */
.faqs {
  background: $brand-color;
  background: url(../images/faq-bg.jpg) repeat top center;

  .title-head {
    @include margin(0, 0, 80px, 0);
    color: $white-color;
    text-align: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }

    .title {
      font-family: $font-secondary-en;
      font-size: 45px;
      @include margin(0, 0, 40px, 0);

      @include breakpoint(sm) {
        font-size: 30px;
        @include margin(0, 0, 30px, 0);
      }
    }
    .sub-title {
      font-size: 35px;
      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
  }

  #faq-accordion {
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include shadow();
      @include border-radius(8px);
      background: $white-color;
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(22px, 15px, 22px, 25px);
      box-shadow: 0 5px 5px 0 rgba($black-color, 0.1);

      h5 {
        font-size: 18px;
        font-family: $font-secondary-en;
        @include padding(0, 45px, 0, 0);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          right: 0;
          font-size: 30px;
          top: -6px;
          @include transition(all 0.5s ease);
          @include padding(0, 10px, 0, 10px);
        }

        &.collapsed {
          &:before {
            content: "\f107";
          }
        }
        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            color: $white-color;
            background: $brand-color;
            @include border-radius(5px);
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      @include margin(30px, 0, 0, 0);
      @include padding(0, 25px, 0, 25px);

      p {
        @include margin(0, 0, 30px, 0);
        font-size: 18px;
      }
    }
  }
}

/* need help */
.need-help {
  background: url(../images/adult-attire-commerce-1367269@3x.jpg) no-repeat top center;
  background-size: cover;
  @include padding(80px, 0, 80px, 0);
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: rgba($black-color, 0.7);
  }

  .content {
    position: relative;
    z-index: 99;
    &__title {
      color: $white-color;
      font-size: 35px;
      @include margin(0, 0, 0, 0);
      font-family: $font-secondary-en;
    }
    &__text {
      color: $white-color;
      font-size: 24px;
      @include margin(0, 0, 30px, 0);
    }
    &__phone {
      color: $brand-second-color;
      font-size: 40px;
    }
  }
}

.main-heading-inner-pages {
  display: flex;
  align-items: center;

  background: url(../images/search-bg.jpg) no-repeat top center;
  background-size: cover;
  @include padding(200px, 0, 200px, 0);
  width: 100%;
  position: relative;

  @include breakpoint(sm) {
    @include padding(80px, 0, 80px, 0);
  }
  @include breakpoint(md) {
    @include padding(80px, 0, 80px, 0);
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: rgba($black-color, 0.6);
  }
  h1 {
    font-family: $font-secondary-en;
    font-size: 85px;
    color: $white-color;
    z-index: 99;
    position: relative;
    text-transform: capitalize;

    @include breakpoint(sm) {
      font-size: 55px;
    }
  }
}

/* content tab */
.content-tabs {
  background: #f9f9f9;
  .nav-pills {
    @extend %nav-pills;
    background: $white-color;
    @include padding(100px, 50px, 50px, 50px);
    @include card-shadow;
    height: 100%;

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }

    @include breakpoint(md) {
      @include padding(30px, 30px, 30px, 30px);
    }
  }

  .tab-content {
    @include padding(100px, 80px, 100px, 80px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include padding(30px, 30px, 30px, 30px);
    }

    .download-link {
      display: flex;
      align-items: center;
      font-size: 18px;
      @include margin(0, 0, 25px, 0);

      &:hover {
        color: $brand-color;
      }

      img {
        width: 50px;
        height: 60px;
        @include margin(0, 20px, 0, 0);
      }
    }

    &__body {
      @include card-shadow;
      background: $white-color;
      @include border-radius(10px);
      @include padding(70px, 70px, 70px, 70px);

      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 30px);
      }
      @include breakpoint(md) {
        @include padding(30px, 30px, 30px, 30px);
      }

      p {
        color: $black-color;
        @include margin(0, 0, 50px, 0);
        font-size: 20px;
      }
      ul {
        @include margin(0, 0, 20px, 30px);
        li {
          position: relative;
          @include margin(0, 0, 5px, 0);
          @include padding(0, 0, 0, 15px);
          font-size: 16px;

          &:before {
            position: absolute;
            left: 0;
            top: 10px;
            background: $brand-color;
            content: "";
            width: 5px;
            height: 5px;
            @include border-radius(50%);
          }
          a {
            color: $brand-color;
          }
        }
      }
    }

    .card {
      background: $white-color;
      @include border-radius(10px);
      @include margin(0, 0, 40px, 0);
      @include transition(all 0.5s ease);
      @include card-shadow;
      overflow: hidden;

      &.card-padding {
        @include padding(20px, 20px, 20px, 20px);
      }

      figure {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;

        img {
          filter: grayscale(0%);
        }
        a {
          display: block;
        }
      }

      .card-body {
        @include padding(30px, 30px, 30px, 30px);
      }
      .title {
        display: inline-block;
        color: $black-color;
        font-size: 25px;
        font-family: $font-secondary-en;
        @include margin(0, 0, 30px, 0);
      }

      &:hover {
        @include transform(translateY(-5px));
        @include card-hover-shadow;
        .title {
          color: $brand-color;
        }
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

#accordion {
  @include margin(0, 0, 0, 0);
  .card {
    border: 0 !important;
    @include margin(0, 0, 40px, 0);
    background: $white-color;
    @include padding(30px, 30px, 30px, 30px);
  }
  .card-header {
    background: none !important;
    border-bottom: 0;
    @include padding(0, 0, 0, 0);

    h5 {
      font-size: 22px;
      font-family: $font-secondary-en;
      color: $brand-color;
      @include padding(0, 45px, 0, 0);
      position: relative;
      cursor: pointer;

      &:before {
        font-family: FontAwesome;
        content: "\f106";
        position: absolute;
        right: 0;
        font-size: 30px;
        top: -5px;
        color: $black-color;
        @include transition(all 0.5s ease);
      }

      &.collapsed {
        &:before {
          content: "\f107";
        }
      }
      &:hover {
        text-decoration: none;
        color: $black-color;
        &:before {
          color: $brand-color;
        }
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .card-body {
    @include padding(40px, 0, 0, 0);
    @include margin(30px, 0, 0, 0);
    border-top: 1px solid #f2f2f2;

    p {
      @include margin(0, 0, 20px, 0);
      font-size: 18px;

      &.grey {
        color: $light-grey-color;
        font-size: 16px;
      }
    }

    ul {
      @include margin(0, 0, 20px, 30px);
      li {
        position: relative;
        @include margin(0, 0, 5px, 0);
        @include padding(0, 0, 0, 15px);
        font-size: 16px;

        &:before {
          position: absolute;
          left: 0;
          top: 10px;
          background: $brand-color;
          content: "";
          width: 5px;
          height: 5px;
          @include border-radius(50%);
        }
      }
    }

    h3 {
      color: $brand-color;
      font-size: 16px;
    }
  }
}

.accordion-content {
  h2 {
    @include margin(0, 0, 40px, 0);
    font-size: 22px;
    font-family: $font-secondary-en;
    color: $brand-second-color;
  }
  h3 {
    @include margin(0, 0, 10px, 0);
    font-size: 35px !important;
    font-family: $font-secondary-en;
    color: $brand-second-color !important;
    text-align: center;
  }
  span {
    font-size: 18px;
    color: #c4c4c4;
    text-align: center;
    display: block;
  }
  p {
    font-size: 18px !important;
    color: #888888;
    @include margin(0, 0, 10px !important, 0);
  }
}

.download-files-content {
  ul {
    li {
      color: $black-color;
      @include margin(0, 0, 15px, 0);
      font-size: 20px;
    }
  }
  .download-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    @include margin(0, 0, 25px, 0);

    &:hover {
      color: $brand-color;
    }

    img {
      width: 27px;
      height: 36px;
      @include margin(0, 20px, 0, 0);
    }
  }
}

.error-page {
  background: #f9f9f9;
  @include padding(200px, 0, 200px, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(sm) {
    @include padding(100px, 0, 100px, 0);
  }
  p {
    @include margin(0, 0, 100px, 0);
    font-size: 40px;
    text-align: center;
    color: rgba($brand-color, 0.5);

    @include breakpoint(sm) {
      font-size: 25px;
      @include margin(0, 0, 50px, 0);
    }
  }
  img {
    margin: auto;
    display: block;
  }
}

.pods-pagination-paginate {
  display: flex !important;
  justify-content: center;
  align-items: center;
  .page-numbers {
    color: $dark-grey-color;
    font-family: $font-secondary-en;
    @include padding(0, 15px, 0, 15px);
  }
  .current {
    color: $brand-color;
  }
  .next {
    background: $white-color;
    @include border-radius(50%);
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: $brand-color;
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
}

#wdc-style .large #Search {
  height: 68px;
  font-size: 20px !important;
}
#wdc-style .input-group .input-group-btn {
  background: $brand-second-color !important;
  border: 0 !important;

  @include breakpoint(sm) {
    background:none !important;
    margin-top: 85px !important;
  }
}
#wdc-style button#Submit {
  box-shadow: none !important;

  @include breakpoint(sm) {
    margin-left: 0 !important;
    margin-right: 0 !important;

  }
}
#wdc-style .large button#Submit {
  font-size: 15px !important;
}
#wdc-style .large button#Submit:focus {
  box-shadow: none !important;
}
