footer {
  background: #f1f1f1;
  @include padding(70px, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 0, 0);
  }

  .footer-top {
    .contact-info {
      .map {
        @include margin(0, 0, 20px, 0);
        border: 3px solid $white-color;
      }
      .address {
        @include margin(0, 0, 20px, 0);
        h3 {
          font-size: 25px;
          font-family: $font-secondary-en;
          @include margin(0, 0, 20px, 0);
        }
        span {
          display: block;
          font-size: 18px;
        }
      }

      ul {
        &.social-icons {
          @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
          }

          display: flex;
          li {
            @include margin(0, 30px, 0, 0);
            a {
              display: block;
              color: $black-color;
              font-size: 33px;

              &:hover {
                color: $brand-color;
              }
            }
          }
        }
      }
    }
    .footer-links {
      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
      &__title {
        font-size: 25px;
        font-family: $font-secondary-en;
        @include margin(0, 0, 20px, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 10px, 0);
        }
      }
      &__list-item {
        @include margin(0, 0, 15px, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 5px, 0);
        }
        a {
          color: $black-color;
          font-size: 18px;
          position: relative;

          &:before {
            position: absolute;
            content: "";
            height: 5px;
            width: 5px;
            background: $brand-color;
            top: 5px;
            left: -12px;
            opacity: 0;
            @include border-radius(50%);
            @include transition(all 0.5s ease-out);
          }

          &:hover {
            color: $brand-color;
            &:before {
              opacity: 10;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    @include padding(20px, 0, 20px, 0);
    .copyright-text {
      font-size: 17px;
      text-align: center;
    }
  }
}

.scroll-up-holder {
  .scrollup {
    position: fixed;
    z-index: 99;
    bottom: 40px;
    right: 40px;
    display: none;
    text-align: center;
    line-height: 65px;
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.8s;
    @include transition(all 0.5s ease);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    @include breakpoint(sm) {
      right: 20px;
    }
  }

  .circle {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {
      border-radius: 100%;
    }
  }

  .spin {
    width: 55px;
    height: 55px;
    padding: 0;
    color: $brand-color;
    &::before {
      border: 3px solid $brand-color;
      top: 0;
      left: 0;
    }

    &::after {
      border: 0 solid transparent;
      top: 0;
      left: 0;
      transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
    }

    &:hover {
      color: $black-color;
      &:before {
        border-top-color: $black-color;
        border-right-color: $black-color;
        border-bottom-color: $black-color;
        transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s,
          border-bottom-color 0.15s linear 0.2s;
      }

      &:after {
        border-top: 3px solid $black-color;
        border-left-width: 3px;
        border-right-width: 3px;
        transform: rotate(270deg);
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
      }
    }
  }
}

.chat-icon {
  width: 76px;
  height: 76px;
  @include border-radius(50%);
  display: block;
  position: fixed;
  right: 40px;
  bottom: 120px;
  z-index: 99;
  text-align: center;
  line-height: 70px;
  background: $white-color;

  @include breakpoint(sm) {
    bottom: 120px;
    right: 20px;
    width: 55px;
    height: 55px;
    line-height: 50px;
  }

  &:hover {
    background: $black-color;
  }

  img {
    width: 35px;
    height: 35px;
  }
}
