header {
  /* header primary */
  .header-primary {
    
    .icon-bar {
      width: 26px;
      height: 4px;
      @include border-radius(50px);
      background-color: $brand-color;
      display: block;
      transition: all 0.4s;
    }
    .navbar-toggler {
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        margin-top: 3px;
      }
      .middle-bar {
        opacity: 0;
        margin-top: 3px;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        margin-top: 3px;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }

    nav {
      &.navbar {
        background: $white-color;
        @include border-radius(0);
        @include padding(30px, 100px, 30px, 100px);
        box-shadow: 0 9px 27px 0 rgba($black-color, 0.1);
        @include transition(all 0.5s ease);

        @include breakpoint(sm) {
          @include padding(15px, 15px, 15px, 15px);
        }
        @include breakpoint(md) {
          @include padding(15px, 15px, 15px, 15px);
        }

        li {
          &.nav-item {
            @include padding(20px, 20px, 20px, 25px);
            @include breakpoint(sm) {
              @include padding(15px, 0, 0, 15px);
            }
            @include breakpoint(md) {
              @include padding(15px, 0, 0, 15px);
            }

            @include breakpoint(ipadLandscape) {
              @include padding(20px, 10px, 20px, 10px);
            }
          }
          &.search-icon {
            @include padding(20px, 20px, 20px, 100px);
            font-size: 25px;
            @include breakpoint(sm) {
              @include padding(20px, 20px, 0, 20px);
            }
            @include breakpoint(md) {
              @include padding(20px, 20px, 0, 20px);
            }
          }
        }

        a {
          color: $brand-second-color !important;

          &:hover {
            color: $brand-color;
          }

          &.nav-link {
            font-size: 18px;
            padding: 0 !important;
            color: $brand-second-color !important;
            position: relative;
            font-family: $font-secondary-en;
            @include transition(all 0.5s ease);

            &:before {
              position: absolute;
              top: 100%;
              left: 50%;
              color: transparent;
              content: "•";
              text-shadow: 0 0 transparent;
              font-size: 23px;
              -webkit-transition: text-shadow 0.3s, color 0.3s;
              -moz-transition: text-shadow 0.3s, color 0.3s;
              transition: text-shadow 0.3s, color 0.3s;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              transform: translateX(-50%);
            }
            &:hover {
              color: $brand-color !important;
              &:before {
                color: $brand-color;
                text-shadow: 10px 0 $brand-color, -10px 0 $brand-color;
              }
            }
            &:focus {
              color: $brand-color !important;
              &:before {
                color: $brand-color;
                text-shadow: 10px 0 $brand-color, -10px 0 $brand-color;
              }
            }
            &.active {
              color: $brand-color !important;
              &:before {
                color: $brand-color;
                text-shadow: 10px 0 $brand-color, -10px 0 $brand-color;
              }
            }
          }
        }
        ul {
          &.navbar-nav {
            margin-left: auto;
            align-items: center;
            @include breakpoint(sm) {
              @include padding(25px, 0, 25px, 0);
              margin-left: auto !important;
            }
            @include breakpoint(md) {
              margin-left: auto !important;
            }
          }
        }

        @include breakpoint(sm) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }
        @include breakpoint(md) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }
        .logo-holder {
          text-align: center;
          display: block;
          img {
            width: 108px;
            height: 75px;
            @include margin(0, 0, 5px, 0);

            @include breakpoint(sm) {
              @include margin(0, 0, 0, 0);
            }
            @include breakpoint(md) {
              @include margin(0, 0, 0, 0);
            }
          }
          span {
            display: block;
            font-size: 14px;
            color: $black-color;

            @include breakpoint(sm) {
              display: none;
            }
            @include breakpoint(md) {
              display: none;
            }
          }
        }
      }
    }
  }
  &.header-scroll {
    nav {
      &.navbar {
        padding: 10px 50px 10px 50px !important;

        @include breakpoint(sm) {
          padding: 15px 15px 15px 15px !important;
        }
        @include breakpoint(md) {
          padding: 15px 15px 15px 15px !important;
        }
      }
    }
    .logo-holder {
      img {
        @include breakpoint(sm) {
          @include margin(0, 0, 0, 0);
          width: 78px !important;
          height: 45px !important;
        }
        @include breakpoint(md) {
          @include margin(0, 0, 0, 0);
          width: 78px !important;
          height: 45px !important;
        }
      }
      span {
        display: none !important;
      }
    }
  }
}

/* search */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  background-color: $brand-color;
  @include transition(all 0.5s ease);
  @include transform(translate(0px, -100%) scale(0, 0));

  .search-holder {
    position: absolute;
    width: 80%;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0;

    @include breakpoint(sm) {
      width: 90%;
      top: 30%;
    }

    @include breakpoint(md) {
      width: 80%;
      top: 30%;
    }

    &__input {
      position: absolute;
      width: 100%;
      color: $white-color;
      background: none;
      font-size: 30px;
      border: 2px solid $white-color;
      @include border-radius(7px);
      @include padding(25px, 40px, 25px, 40px);

      &:focus {
        border: 2px solid $black-color;
      }
      &::placeholder {
        color: $white-color;
      }

      @include breakpoint(sm) {
        font-size: 20px;
        @include padding(15px, 20px, 15px, 20px);
      }
    }
    .button-epic-black-large {
      position: absolute;
      top: 17px;
      right: 15px;
      text-align: left;
      width: 20%;

      @include breakpoint(sm) {
        width: 100%;
        top: 75px;
        right: 0;
      }
      @include breakpoint(md) {
        width: 100%;
        top: 115px;
        right: 0;
      }
    }
  }

  .close-search {
    position: absolute;
    top: 20px;
    right: 40px;
    color: $color-white;
    font-size: 75px;
    @include transition(all 0.5s ease-in-out);
    opacity: 0;

    &:hover {
      color: $black-color;
    }

    @include breakpoint(sm) {
      top: -20px;
      right: 20px;
    }
  }

  &.open-search {
    @include transform(translate(0px, 0px) scale(1, 1));
    opacity: 1;
    .close-search {
      animation: fadeInRight 0.9s ease forwards;
      animation-delay: 0.55s;
    }
    .search-holder {
      animation: fadeIn 0.9s ease forwards;
      animation-delay: 0.35s;
    }
  }
}
