%button-epic {
  position: relative;
  width: 100%;
  font-size: 17px;
  font-family: $font-secondary-en;
  overflow: hidden;
  display: block;
  @include padding(10px, 0, 10px, 0);
  @include border-radius(5px);
  @include shadow;
  text-align: left;
  transform: translate3d(0px, 0%, 0px);
  @include transition(all 0.6s ease);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    transform: translateY(100%) scaleY(0.5);
    @include transition(all 0.6s ease);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include border-radius(0);
    transform: translateY(0) scaleY(1);
    @include transition(all 0.6s ease);
  }
  .button-inner {
    position: relative;
    width: 100%;
    height: 26px;
    overflow: hidden;
    span {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      text-align: center;
      transition: transform 0.5s ease;
      &.text-straight {
        transform: translateY(24px);
      }
      &.text-flip {
        transform: translateY(0);
      }
    }
  }

  &:hover {
    background: $brand-color;
    transition-delay: 0.6s;
    &:after {
      border-radius: 0 0 50% 50%;
      transform: translateY(-100%) scaleY(0.5);
      @include transition(all 0.6s ease);
    }
    &:before {
      @include border-radius(0);
      transform: translateY(0) scaleY(1);
      @include transition(all 0.6s ease);
    }
    span {
      &.text-straight {
        transform: translateY(0);
      }
      &.text-flip {
        transform: translateY(-24px);
      }
    }
  }
}

.button-epic-white {
  @extend %button-epic;
  background: $white-color;
  &:before {
    background: $black-color;
  }

  .button-inner {
    span {
      &.text-straight {
        color: $white-color;
      }
      &.text-flip {
        color: $brand-color;
      }
    }
  }
}
.button-epic-red {
  @extend %button-epic;
  background: $brand-color;
  &:before {
    background: $black-color;
  }

  .button-inner {
    span {
      &.text-straight {
        color: $white-color;
      }
      &.text-flip {
        color: $white-color;
      }
    }
  }
}

.button-epic-black {
  @extend %button-epic;
  background: $black-color;
  &:before {
    background: $brand-color;
  }
  .button-inner {
    span {
      &.text-straight {
        color: $white-color;
      }
      &.text-flip {
        color: $white-color;
      }
    }
  }
}

.button-epic-red-large {
  @extend %button-epic;
  background: $brand-color;
  font-size: 35px;
  &:before {
    background: $black-color;
  }

  .button-inner {
    height: 46px;
    span {
      &.text-straight {
        transform: translateY(54px);
        color: $white-color;
      }
      &.text-flip {
        transform: translateY(0);
        color: $white-color;
      }
    }
  }
  &:hover {
    span {
      &.text-straight {
        transform: translateY(0);
      }
      &.text-flip {
        transform: translateY(-54px);
      }
    }
  }
}

.button-epic-black-large {
  @extend %button-epic;
  background: $black-color;
  font-size: 35px;
  &:before {
    background: $white-color;
  }

  .button-inner {
    height: 46px;
    span {
      &.text-straight {
        transform: translateY(54px);
        color: $brand-color;
      }
      &.text-flip {
        transform: translateY(0);
        color: $white-color;
      }
    }
  }
  &:hover {
    span {
      &.text-straight {
        transform: translateY(0);
      }
      &.text-flip {
        transform: translateY(-54px);
      }
    }
  }
}

.form-control {
  border: 0;
  font-size: 13px;
  height: 45px;
  color: $black-color;
  @include padding(0, 15px, 0, 15px);
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.2) !important;

  &:focus {
    border: 1px solid $brand-color;
    box-shadow: 0 1px 5px 0 rgba($brand-color, 0.8);
  }
}

/* hover styles */
.sliding-underline-link {
  position: relative;
  color: $brand-color;
  font-size: 18px;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: $light-grey-color;
    transform-origin: bottom center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $black-color;
    transform-origin: bottom center;
    @include transition(transform 0.4s);
    @include transform(scaleX(0));
  }
  &:hover {
    color: $black-color;
    &:after {
      transform-origin: bottom center;
      @include transform(scaleX(1));
    }
  }
}

.read-more-link {
  display: block;
  position: relative;
  color: $brand-color;
  font-size: 18px;
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    margin: auto;
  }

  &:before {
    position: absolute;
    left: 0;
    top: -8px;
    font-family: Fontawesome;
    content: "\f0a9";
    opacity: 0;
    font-size: 26px;
    @include transition(all 0.5s ease);
  }

  &:hover {
    @include padding(0, 0, 0, 40px);
    color: $brand-color;
    &:before {
      opacity: 10;
    }
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 5px, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(4px, 0, 0, 35px);
      @include margin(0, 0, 15px, 0);
      user-select: none;
      color: $text-grey-color;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $brand-color;
        @include border-radius(50%);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 7px;
        top: 5px;
        width: 6px;
        height: 9px;
        opacity: 0.2;
        border-bottom: 3px solid $brand-color;
        border-right: 3px solid $brand-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}

// custom select list dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $white-color;
  @include border-radius(5px);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  outline: none;
  @include padding(0, 20px, 0, 20px);
  position: relative;
  text-align: left !important;
  @include transition(all 0.5s ease);
  user-select: none;
  white-space: nowrap;
  width: 100%;
  color: $dark-grey-color-shade;
  @include shadow;

  &:before {
    width: 20px;
    height: 20px;
    content: "";
    right: 12px;
    top: 50%;
    @include border-radius(50%);
    background: $brand-color;
    position: absolute;
    right: 15px;
    top: 13px;
  }

  // Arrow
  &:after {
    border-bottom: 2px solid $white-color;
    border-right: 2px solid $white-color;
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 23px;
    top: 23px;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    @include transition(all 0.5s ease);
  }

  &:hover {
    &:before {
      background: $dark-grey-color;
    }
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }

  // List and options
  .list {
    background-color: $white-color;
    box-shadow: 0 8px 5px 0 rgba($black-color, 0.1);
    @include border-radius(5px);
    margin-top: -6px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    transform-origin: 50% 0;
    -webkit-overflow-scrolling: touch;
    transform: scale(0.75) translateY(-$input_height / 2);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    @include padding(20px, 0, 10px, 0);
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: 35px;
    list-style: none;
    min-height: 35px;
    outline: none;
    @include padding(0, 20px, 0, 20px);
    @include transition(all 0.5s ease);
    color: $dark-grey-color-shade;
    text-align: left;
    &:hover,
    &.focus,
    &.selected.focus {
      color: $brand-color;
    }
    &.selected {
      font-weight: bold;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}

/* arrow link */
.arrow__link {
  display: inline-block;
  font-size: 28px;
  color: $black-color;
  position: relative;

  .text {
    display: inline-block;
    @include transition(all 0.5s ease);
  }
  &:after {
    display: inline-block;
    font-family: FontAwesome;
    @include margin(0, 0, 0, 25px);
    content: "\f105";
    font-size: 18px;
    @include transition(transform 0.5s ease);
  }
  &:before {
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 0;
    @include transition(all 0.5s ease);
    background: $brand-color;
  }
  &:hover {
    color: $brand-color;
    .text {
      @include margin(0, 0, 0, 30px);
      color: $brand-color;
    }
    &:after {
      @include transform(translateX(14px));
    }
    &:before {
      width: 15px;
    }
  }
}

%nav-pills {
  width: 100%;
  .nav-link {
    background: none;
    color: $black-color;
    font-size: 25px;
    @include margin(0, 0, 30px, 0);
    @include padding(0, 0, 0, 0);
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: -10px;
      font-size: 25px;
      top: 0;
      color: $black-color;
      background: $white-color;
      @include border-radius(50%);
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      @include transition(all 0.5s ease);
    }

    &:hover {
      color: $brand-color;
      @include margin(0, 0, 30px, 5px);

      &:before {
        background: $brand-color;
        color: $white-color;
        @include border-radius(50%);
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: -20px;
      }
    }

    &.active {
      color: $brand-color;
      background: none;
      &:before {
        color: $brand-color;
        background: $white-color;
      }
    }
  }
}
