

@font-face {
  font-family: "product_sansregular";
  src: url("../fonts/product_sans_regular-webfont.eot");
  src: url("../fonts/product_sans_regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/product_sans_regular-webfont.woff2") format("woff2"),
    url("../fonts/product_sans_regular-webfont.woff") format("woff"),
    url("../fonts/product_sans_regular-webfont.ttf") format("truetype"),
    url("../fonts/product_sans_regular-webfont.svg#product_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'product_sansbold';
  src: url('../fonts/product_sans_bold-webfont.eot');
  src: url('../fonts/product_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
       url('../fonts/product_sans_bold-webfont.woff') format('woff'),
       url('../fonts/product_sans_bold-webfont.ttf') format('truetype'),
       url('../fonts/product_sans_bold-webfont.svg#product_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
