.background-content {
  .item {
    position: relative;
    @include margin(0, 0, 50px, 0);
    @include padding(0, 0, 0, 50px);

    &__icons {
      display: block;
      background: url(../images/icons-sprite.png) no-repeat;
      background-size: 466px 158px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &--icon-01 {
      width: 29px;
      height: 36px;
      background-position: -12px -68px;
    }
    &--icon-02 {
      width: 35px;
      height: 35px;
      background-position: -47px -69px;
    }
    &--icon-03 {
      width: 30px;
      height: 36px;
      background-position: -88px -68px;
    }
    &__title {
      color: $brand-color;
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }
    &__detail {
      font-size: 18px !important;
      margin-bottom: 0 !important;
    }
  }

  .download-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    @include margin(0, 0, 25px, 0);

    &:hover {
      color: $brand-color;
    }

    img {
      width: 27px;
      height: 36px;
      @include margin(0, 20px, 0, 0);
    }
  }
}
.career-content {
  figure {
    height: 100px !important;
    img {
      width: 15%;
    }
  }
  .card-body {
    h3 {
      color: $brand-color;
      @include margin(0, 0, 20px, 0);
      text-align: center;
      font-size: 30px;
    }
    p {
      @include margin(0, 0, 20px, 0);
      text-align: center;
      font-size: 18px !important;
    }
  }
}

.board-members-content {
  h2 {
    font-size: 30px;
    color: $brand-color;
    @include margin(0, 0, 50px, 0);
  }
  .thumb {
    @include margin(0, 0, 50px, 0);
    figure {
      @include margin(0, 0, 40px, 0);
      width: 145px;
      height: 145px;

      @include breakpoint(sm) {
        margin: 0 auto 30px;
      }

      img {
        width: 145px;
        height: 145px;
        @include border-radius(50%);
      }
    }
    figcaption {
      .name {
        color: $brand-color;
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
      .designation {
        color: $light-grey-color;
        font-size: 18px;
      }
    }
  }
  .large-thumb {
    .designation {
      @include margin(0, 0, 20px, 0);
      display: block;
    }
    p {
      font-size: 17px !important;
    }
  }
}

.staff-members-content {
  h2 {
    font-size: 30px;
    @include margin(0, 0, 50px, 0);
  }
  .thumb {
    @include margin(0, 0, 60px, 0);

    figure {
      @include margin(0, 0, 40px, 0);
      /*  background: $brand-second-color;
      @include border-radius(50% 50% 50% 0); */
      @include border-radius(50%);
      width: 145px;
      height: 145px;
      img {
        width: 145px;
        height: 145px;
        @include border-radius(50%);
      }
    }
    figcaption {
      .name {
        color: $brand-color;
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
      .designation {
        color: $light-grey-color;
        font-size: 18px;
        @include margin(0, 0, 20px, 0);
        display: inline-block;
      }
      .description {
        color: $light-grey-color;
        font-size: 16px;
        @include margin(0, 0, 20px, 0);
      }
      .connect-with-us {
        color: $brand-color;
        display: flex;
        align-items: center;
        @include margin(0, 0, 0, 0);

        li {
          @include padding(0, 10px, 0, 0);
          &:before {
            display: none;
          }
          a {
            display: block;
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
            @include border-radius(50%);
            &:hover {
              background: $brand-color;
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

.contact-us-content {
  h2 {
    @include margin(0, 0, 40px, 0);
  }
  .form-group {
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
    }
  }
  .form-control {
    @include margin(0, 0, 10px, 0);
  }
  label {
    font-size: 14px;
  }
  .sm-text {
    font-size: 14px;
  }
  textarea {
    height: 260px;
    resize: none;
    @include padding(15px, 0, 0, 15px);
  }
  .last-name-input {
    @include margin(32px, 0, 10px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 10px, 0);
    }
  }
}

.partnership {
  h2 {
    font-size: 30px;
    @include margin(0, 0, 50px, 0);
  }
  .item {
    @include margin(0, 0, 20px, 0);
    figure {
      @include shadow;
      @include padding(10px, 10px, 10px, 10px);
    }
    figcaption {
      h3 {
        color: $brand-color;
        font-size: 20px;
        @include margin(0, 0, 20px, 0);
      }
      p {
        font-size: 15px;
        @include margin(0, 0, 20px, 0);
      }
      a {
        color: $brand-color;
        font-size: 14px;
      }
    }
  }
}

#more-text {
  display: none;
}
