.news-left-column {
  h2 {
    text-transform: uppercase;
    font-size: 30px;
    @include margin(0, 0, 30px, 0);
    font-family: $font-secondary-en;
  }
  h3 {
    font-size: 30px;
    @include margin(0, 0, 20px, 0);
    color: $brand-color;
  }
  .form-group{
    @include margin(0, 0, 60px, 0);
    position: relative;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    .form-control{
      @include border-radius(10px);
      height: 70px;
      font-size: 15px;
      @include padding(0, 50px, 0, 20px);
    }
    i{
      color: $brand-second-color;
      font-size: 30px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  .twitter-feeds {
    @include margin(100px, 0, 100px, 0);

    @include breakpoint(sm) {
      @include margin(30px, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(30px, 0, 30px, 0);
    }

  }
}

.news-content {
  .card-body {
    p {
      font-size: 18px;
      @include margin(0, 0, 50px, 0);
    }
    .card__footer {
      color: $brand-second-color;
      font-family: $font-secondary-en;
      font-size: 15px;
      display: flex;
      text-transform: uppercase;
      flex-wrap: wrap;

      span {
        i {
          @include margin(0, 5px, 0, 0);
        }
      }
      .user {
        @include margin(0, 20px, 15px, 0);
      }
    }
  }
}

.news-catalogue-content {
  @include card-shadow;
  background: $white-color;
  @include border-radius(10px);

  figure {
    overflow: hidden;
    height: 250px;

    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: auto;
    }

  }

  .body {
    @include padding(70px, 70px, 70px, 70px);
    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
    .title {
      color: $black-color;
      font-size: 30px;
      font-family: $font-secondary-en;
      @include margin(0, 0, 30px, 0);
    }

    p {
      color: $black-color;
      @include margin(0, 0, 30px, 0);
      font-size: 20px;
    }
    ul {
      @include margin(0, 0, 40px, 0);
      li {
        position: relative;
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 20px);
        font-size: 20px;

        &:before {
          position: absolute;
          left: 0;
          top: 10px;
          background: $brand-second-color;
          content: "";
          width: 5px;
          height: 5px;
          @include border-radius(50%);
        }
      }
    }
    .card__footer {
      color: $brand-second-color;
      font-family: $font-secondary-en;
      font-size: 13px;
      display: flex;
      flex-wrap: wrap;

      span {
        i {
          @include margin(0, 5px, 0, 0);
        }
      }
      .user {
        @include margin(0, 50px, 15px, 0);
      }
    }
  }
}
