#registrar-of-the-month {
  .registrar-awards-content {
    background: $white-color;
    box-shadow: 0px 3px 16px #00000029;
    @include border-radius(10px);
    @include padding(100px, 0, 0, 0);

    @include breakpoint(sm) {
      @include padding(50px, 0, 0, 0);
    }

    .nav-tabs {
      border-bottom: 1px solid #f2f2f2;
      .nav-link {
        border: 0;
        font-size: 25px;
        color: $brand-color;
        position: relative;
        @include padding(30px, 0, 15px, 0);
        display: block;
        @include border-radius(0);

        &::before {
          position: absolute;
          left: 0;
          background: $brand-color;
          height: 4px;
          @include border-radius(5px);
          width: 0;
          bottom: 0;
          content: "";
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
        &.active {
          &:before {
            width: 100%;
          }
        }
      }
    }
    .tab-content {
      padding: 0 !important;
    }
    .list-group {
      &__item {
        counter-increment: itemcounter;
        position: relative;
        border-bottom: 1px solid #f2f2f2;
        @include transition(all 0.5s ease);
        transform: scale(1);

        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 40px;
          content: counters(itemcounter, ".", decimal-leading-zero);
          font-size: 30px;
          font-family: $font-secondary-en;

          @include breakpoint(sm) {
            top: 20px;
            transform: translateX(-50%);
            left: 50%;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background-color: $brand-color;
          transform: scale(1.05);
          &:before {
            color: $white-color;
          }
          .list-group__title {
            color: $white-color;
          }
        }
      }
      &__link {
        @include padding(0, 30px, 0, 120px);
        height: 100px;
        display: flex;
        align-items: center;
        @include transition(all 0.5s ease);

        @include breakpoint(sm) {
          flex-direction: column;
          justify-content: center;
          height: auto;
          @include padding(80px, 30px, 30px, 30px);
        }
      }
      &__figure-holder {
        @include margin(0, 30px, 0, 0);
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(sm) {
          width: 50%;
          margin: 0 auto 30px;
        }

        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
        }

        img {
          width: 100%;
        }
      }
      &__title {
        font-size: 18px;
        font-family: $font-secondary-en;
        @include margin(0, 30px, 0, 0);
        width: 60%;

        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
          width: 100%;
          text-align: center;
        }
      }
      &__icon {
        width: 10%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include margin(0, 0, 0, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 0, 0);
          width: 100%;
          text-align: center;
        }

        img {
          height: 100%;
        }
      }
    }
  }
  h3 {
    @include margin(0, 0, 40px, 0);
    font-size: 18px;
    color: $brand-color;
  }
  p {
    font-size: 18px;
    color: $light-grey-color;
  }
}

.login-content {
  h2 {
    @include margin(0, 0, 40px, 0);
    text-align: center;
  }
  .form-group {
    @include margin(0, 0, 40px, 0);
  }
  .form-control {
    @include margin(0, 0, 10px, 0);
  }
  label {
    font-size: 14px;
  }
  .button-epic-red {
    @include margin(0, 0, 40px, 0);
  }
  .btm-link {
    display: block;
    color: $light-grey-color;
    text-align: center;
    &:hover {
      color: $brand-color;
    }
  }
}
